:root {
    --primary-dark: #2E016D;
    --primary: #3F0097;
    --primary-light: #8236FF;

    --secondary-dark: #38CCDA;
    --secondary: #7fD9E2;

    --tertiary-dark: #FFADB9;
    --tertiary-light: #FFDEE2;


    --accent: #FFD15D;
    --black-light: #303030;
    --black: #000000;
    --white: #FFFFFF;
    --grey-dark: #B6B9C2;
    --grey-light: #F5F6F6;

    --trying: black;
}